@page
@model LoginModel

@{
    Layout = null;
    ViewData["Title"] = "Log in";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | General Form Elements</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body, html {
            height: 100%;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .card {
            max-width: 600px; /* Increase the max-width */
            width: 100%;
        }

        .card-title {
            text-align: center; /* Center the Log In header */
            font-size: 24px; /* Increase text size */
            font-weight: bold; /* Make it bold */
            /*margin-bottom: 30px;  Add some bottom margin for spacing */
        }

        .form-check-label {
            margin-left: 20px; /* Reset the margin for form-check-label */
        }
    </style>
</head>




<div class="container">
    <div class="card card-dark">
        <div class="card-header">
            <h3 class="card-title">Log In</h3>
        </div>
            <form class="form-horizontal" id="account" method="post">

                <div class="card-body">
                    <div class="form-group row">
                        <label asp-for="Input.UserName" class="col-sm-2 col-form-label">Username</label>
                            <div class="col-sm-10">
                             <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Username" />
                            </div>
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Input.Password" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
                            </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                            </div>
                        </div>
                    </div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div class="card-footer">
                    <div>
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>
                </div>
            </form>
    </div>
</div>


<!-- jQuery -->
<script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- bs-custom-file-input -->
<script src="~/AdminLTE/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<!-- AdminLTE App -->
<script src="~/AdminLTE/dist/js/adminlte.min.js"></script>
<!-- Page specific script -->
<script>
    $(function () {
        bsCustomFileInput.init();
    });
</script>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
